<% content_for :cover do %>
  <div class="cover">
  </div>
  <div class="button">
    <% unless logged_in? %>
      <%= link_to '登録はこちら', signup_path, class: 'btn btn-info btn-lg' %>
    <% end %>
  </div>
<% end %>

<p>テスト</p>